@import './util';

//initial animation stuffs
#motoTxt{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size: 1em;
    color:var(--secTxt);
    .a-abs-child{
      perspective: 400px;
    }
    
}
#startAnimContainer{
    width: 30vmax;
    height: 50vmin;
    overflow: hidden;
    position: relative;
    // background-color: yellow;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
}

#m-texture{
    width: 100%;
    height: 2vh;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
#a-gift-container{
    position: absolute;
    width: 15vmax;
    height: 15vmax;
    // background-color: black;
    overflow: hidden;
    left: -25%;
    display: none;
    bottom: 0;
    .a-giftCard{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        // background-color: yellow;
        img{
            width: 100%;
            object-fit: contain;
        }
       
    }
}
.a-parent{
    display: block;
    overflow: hidden;
    position: relative;
    // background-color: red;

    
}
.a-child{
    display: block;
    // background-color: yellow;
}

.a-abs-child{
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--bg);
    top:-100%;

    position: absolute;
    z-index: 9;
}


svg{
    path{
        fill: transparent;
        stroke: #94892b;
        stroke-dasharray:0px;
        stroke-dashoffset: 0px;
        stroke-width: .03em;

        
    }
}
.m-btn{
    padding: .5em 1em;
    // background-color: var(--clr1);
    background: transparent;
    color:var(--primTxt);
    border:none;
    border-radius: 2em;
    font-size: 1em;
    // margin-left: 2em;
    margin-top: .4em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    // i{
    //     margin-left: 1em;
    // }
    .b-txt2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:var( --action)
        // background-color: yellow;

    }
    .b-txt1{
       
        position: absolute;
        top:200%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:#fff;
        z-index: 3;
        width: 100%;
        display: flex;
        // background-color: yellow;
        align-items: center;
        justify-content: space-around;
        padding: 0 1em;
        
    }
    .b-bg1{
        width: 100%;
        height: 100%;
        left: 0;
        top:100%;
        position: absolute;
        display: block;
        z-index: 2;
        background-color: var( --action);
    }
    .b-bg2{
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        position: absolute;
        display: block;
        background-color: var( --action);
    }

    h5{
        // margin-right: 1em;
        text-transform: uppercase;
        font-size: .6em;
        font-family: $genFont;

    }
    i{
        cursor: pointer;
        // background-color: red;
        // padding: .5em;
        position: relative;
        border-radius: 50%;
        margin-left: 1em;
        // &::after{
        //     content: "";
        //     position:absolute;
        //     width:100%;
        //     height:100%;
        //     background-color: var(--clr1);
        //     left: 0;
        //     top: 0;
        //     border-radius: 50%;
        //     scale: 0;
        //     z-index: -1;
        //     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        //     @include mobile(600px){
        //         display: none;
        //     }

        // }
        // &:hover::after{
        //     scale: 1;
        // }
        // &:hover{
        //     color:#fff;
        // }
    }
    @include mobile(600px){
        font-size: 10px;
    }
}

.orderBtn{
    background-color: var(--action);
    margin-top: 5vmin;
    padding: 1em 2em;
    .b-txt2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:#fff;

    }
    .b-bg1{
        background-color: var(--bg);
    }
    .b-txt1{
        color:var(--action);
    }

}