@import './util';


#hero{
    width:100%;
    min-height:100vh;
    // background-color: red;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    #m-h-lft{
        width: 60%;
        height: 100vh;
        // background-color: yellow;
        padding-left: 10vw;
        display: flex;
        align-items: center;
        @include mobile(855px){
            width: 80%;
            height: fit-content;
            margin-top: 10vh;
        }
        @include mobile(600px){
            width: 90%;
        }
        #m-h-txt{
            width: 100%;
            height: 50vh;
            margin-bottom: 10vh;
            position: relative;
            margin-left: 10vh;
            // background-color: green;
            @include mobile(600px){
                margin-left: 5vmax;
            }
            h1{
                font-family: $headingFont;
                font-size: 6vw;
                line-height: 6vw;
                width: 100%;
                color:var(--primTxt);
                @include mobile(783px){
                    font-size: 8vw;
                    line-height: 8vw;
                    margin-top: 2vh;
                }
                @include mobile(600px){
                    font-size: 10vw;
                    line-height: 10vw;
                }
            }
            p{
                font-family: $genFont;
                font-size:.7vw;
                letter-spacing: .1em;
                line-height: 1.3vw;
                color:var(--secTxt);
                margin-top: 8vh;
                margin-left: 1em;
                width: 80%;
                @include mobile(783px){
                    font-size: 1vw;
                    line-height: 1.5vw;
                    margin-bottom: 10vh;
                }
                @include mobile(600px){
                    font-size:1.5vw;
                    line-height: 2.4vw;

                }
            }
            #m-svg1{
                position: absolute;
                left:-20%;
                bottom:-20%;
               
            }
            #m-svg2{
                position: absolute;
                right:-20%;
                top:-20%;
            }
            svg{
                    path{
                        fill: transparent;
                        stroke: #94892b;
                        stroke-dasharray:0px;
                        stroke-dashoffset: 0px;
                        stroke-width: .03em;

                        
                    }
            }
        }

    }

}

#m-h-prt1{
    width: 100%;
    position: relative;
    overflow: hidden;
    // background-color: aqua;
}
#giftBoxes{
    height: 50vmin;
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: right;
    transform: rotateY(30deg);
    img{
     height:100%;
     object-fit: contain;

    }
    @include mobile(700px){
        height: 50vmin;
    }
}