@import './util';

#howToProceed{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    // background-color: red;
    #rTxt1{
        width: 30vmax;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 20%;
        top:50%;
        svg{
            position: absolute;
            right:10%;
            bottom:20%;
        }
        p{
            font-family: $genFont;
            font-size: .8vmax;
            letter-spacing: .1vmax;
            line-height: 1.2vmax;
            color: var(--secTxt);
            @include mobile(600px){
                font-size: 1.3vmax;
                line-height: 1.9vmax;
            }

        }
        @include mobile(600px){
            left: 40%;
            width: 35vmax;

          }
    }
    #h-rt{
        width: 60%;
        min-height: inherit;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10vmin 0;
        padding-right: 10vmax;
        justify-content: space-between;
        @include mobile(600px){
          width: 100%;
        //   padding-right: 0;
        }
        #rTxt2{
            width: 60%;
            position: relative;
            p{
                font-family: $genFont;
            font-size: .8vmax;
            letter-spacing: .1vmax;
            line-height: 1.2vmax;
            text-align: right;
            color: var(--secTxt);
            @include mobile(600px){
                font-size: 1.3vmax;
                line-height: 1.9vmax;
            }
            }
            @include mobile(600px){
                width: 80%;
                margin-top: 10vh;
            }
         
            
            svg{
                position: absolute;
                left:10%;
                bottom:0%;
            }

        }
        #hp-box{
            width: 100%;
            // background-color: blue;
            display: flex;
            justify-content: flex-start;
            // position: relative;
            z-index: 999;
            padding-left: 10vmin;
            @include mobile(600px){
            // justify-content: flex-start;
            padding-left: 0;
            }
            
            h1{
                font-family: $secFont;
                font-size: 5vmax;
                font-weight: 100;
                width: 80%;
                color:var(--primTxt);

                @include mobile(600px){
                    width: 100%;
                    text-align: right;
                }
                
            }
            
        }
    }
    .hElm{
        width: 12vmax;
        height: 28vmin;
        // background-color: red;
        position: absolute;
        transform: translate(-50%,-50%);
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1em;
        top:50%;
        left: 50%;
        .iconImg{
            width: 7vmax;
            height: 7vmax;
            // background-color: yellow;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3{
            font-family: $headingFont;
            color:#fff;
            text-align: center;
            font-size: 1.2vmax;
        }
      
    }
    #helm1{
        background-color: var(--clr2);
     //    top:-50vmin;
        rotate: -5deg;
        top:23%;
        left: 53%;
     //    left: 5vmax;

     }
    #helm2{
         background-color: var(--clr3);
         // left: -8vmax;
         // top:-30vmin;
         left: 40%;
         top: 33%;
         rotate: 10deg;
     }
     #helm3{
         background-color: var(--clr1);
         // top:-30vmin;
         rotate: 15deg;
         top: 40%;
         left: 60%;
         // left: 10vmax;
     }
     #helm4{
         background-color: var(--clr4);
         // top:-10vmin;
         // left: 0;
         rotate: -10deg;
         top:52.8079%;
         
     }
}