@import './util';

nav{
    width: 100%;
    height: 18vh;
    // background-color: yellow;
    // position: absolute;
    top:0;
    left: 0;
    padding: 0 10vmax;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    @include flexprop;
    @include mobile(600px){
        padding: 0 5vmax;
        height: 10vh;
    }
    #m-logo{
        // background-color: lightblue;
        width: fit-content;
        position: relative;
        color:var(--primTxt);
        h5{
            font-family: $headingFont;
            position: absolute;
            left: -11px;
            top:-1px
        }
        h3{
            font-family: $logo;
            font-size: 2em;

        }
        h6{
            position: absolute;
            bottom: -5px;
            right:-14px;
            

        }
        @include mobile(600px){
            font-size: 10px;
        }
    }
    #m-n-links{
        // width: 25%;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        justify-content: flex-start;
        a{
            text-decoration: none;
            text-transform: uppercase;
            color:var(--primTxt);
            font-size: .7em;
            font-family: $genFont;
            margin-top: .5em;
            &:first-child{
                margin-top: 4em;
            }
        }
        @include mobile(600px){
            display: none;
        }

    }
    #m-catalogueBtn{
        display: flex;
        align-items: center;
        h5{
            margin-right: 1em;
            text-transform: uppercase;
            font-size: .6em;
            font-family: $genFont;

        }
        i{
            cursor: pointer;
            // background-color: red;
            padding: .5em;
            position: relative;
            border-radius: 50%;
            &::after{
                content: "";
                position:absolute;
                width:100%;
                height:100%;
                background-color: var(--clr1);
                left: 0;
                top: 0;
                border-radius: 50%;
                scale: 0;
                z-index: -1;
                transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
                @include mobile(600px){
                    display: none;
                }

            }
            &:hover::after{
                scale: 1;
            }
            &:hover{
                color:#fff;
            }
        }
        @include mobile(600px){
            font-size: 10px;
        }
    }
    #menu{
        display: none;
        @include mobile(600px){
            display: initial;
        }
    }
}

#m-catalogue{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-color:#331f2d;
    overflow: hidden;
    z-index: 99;
    display: none;
    #content{
        width: 100%;
        height: 100%;
        background-color: #2C1B27;
        transform: translate(0,500px) scaleX(0.5) scaleY(0.8);
        position: fixed;
        top:0;
        left:0;
        z-index: 99;
        display: flex;
        overflow: hidden;
        @include mobile(600px){
            flex-direction: column;
            justify-content: space-around;
        }
        
        
        #cLft{
            width: 30%;
            height: inherit;
            // background-color: yellow;/
            display: flex;
            padding-left: 6vmax;
            align-items: center;
            flex-shrink: 0;
            @include mobile(600px){
                height: fit-content;
                width: 100%;
                margin-top: 20vh;

            }
            #cList{
                width: 100%;
                // background-color: rgb(155, 55, 55);
                list-style: none;
                li{
                    margin-top: 1em;
                    width: fit-content;
                    position: relative;
                a{
                    text-decoration: none;
                    font-family: $genFont;
                    color:#727272;
                    font-size: .8em;
                    &:hover{
                        color: #fff;
                    }
                }
                // &:first-child a{
                //     color:#fff;
                // }
                &:before{
                    width: .4em;
                    height: .4em;
                    background-color: #fff;
                    border-radius: 50%;
                    content: "";
                    transform: translate(0%,-50%);
                    position: absolute;
                    top:50%;
                    opacity: 0;
                    left: 0;
                }
                &:hover::before{
                    left: -30px;
                    opacity: 1;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

                }
              
        
                }
            }
    
        }
        #cRt{
            width: 70%;
            height: inherit;
            // background-color: red;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            @include mobile(600px){
                height: fit-content;
                width: 100%;

            }
            #bgTxtContainer{
                width: 100%;
                height: 50vh;
                // background-color: yellow;
                position: relative;
                .m-bg-txts{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: transparent;
                    @include mobile(600px){
                        padding-top: 10vh;
            
                        }
                    h1{
                        color:var(--clr4);
                        font-family: $headingFont;
                        font-size: 22vw;
                        white-space: nowrap;
                    cursor: pointer;
                    @include mobile(600px){
                    text-align: center;
                    
        
                    }

                    
                        .faddedChild{
                            display: inline-block;
                            transform: translate(0,-100px);
                            opacity: 0;
                        }
                        .highlightedChild{
                            display: inline-block;
                            opacity: 0;
                            transform: translate(0,100px);
                            color:#fff;
                        position: relative;
                        z-index: 2;

                           

                        }
                    }
                }
                .floatingImg{
                    width: 25vmax;
                    height: 25vmax;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                    top:0;
                    z-index: 1;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }

                }
               
            }
    
        }
        #m-closeBtn{
            position: absolute;
            color:#fff;
            display: flex;
            top:10%;
            align-items: center;
            right: 10%;
            z-index: 99;
            h5{
                font-family: $genFont;
                font-size: .6em;
                text-transform: uppercase;
                height: fit-content;

            }
            i{
                margin-left: 1em;
                cursor: pointer;
            }
        }
    }
}


